<%= form_with(model: [ @organization, task ], class: "contents") do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="">

    <%= form.label :description %>
    <%= form.text_area :description, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>


    <div class="">
        <%= form.label :planned_start_date %>
        <%= form.date_field :planned_start_date, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="">
        <%= form.label :planned_end_date %>
        <%= form.date_field :planned_end_date, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>


  <div class="">
      <%= form.label "Project" %>
      <%= form.select :project_id, @projects.map { |c| [c.name, c.id] }, { prompt: "Válassz kategóriát" }, { class: "form-control" } %>
  </div>

  <div class="">
      <%= form.label "Assignee" %>
      <%= form.select :assignee_id, @assignees.map { |a| [a.user.full_name, a.id] }, { prompt: "Válassz assigneet" }, { class: "form-control" } %>
  </div>

  <div class="">
      <%= form.label "Reported" %>
      <%= form.select :reporter_id, @reporters.map { |r| [r.user.full_name, r.id] }, { prompt: "Válassz reporter" }, { class: "form-control" } %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
