<div id="<%= dom_id task %>">
  <p>
    <strong>Organization:</strong>
    <%= task.organization_id %>
  </p>
  <p>
    <strong>Project:</strong>
    <%= task.project.name %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= task.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>
  <p>
    <strong>Planned start date:</strong>
    <%= task.planned_start_date %>
  </p>
  <p>
    <strong>Planned end date:</strong>
    <%= task.planned_end_date %>
  </p>
  <p>
    <strong>Assignee:</strong>
    <%= task.assignee.user.full_name %>
  </p>
  <p>
    <strong>Reporter:</strong>
    <%= task.reporter.user.full_name %>
  </p>
</div>
