<div id="<%= dom_id task %>">
  <p>
    <strong>Organization:</strong>
    <%= task.organization_id %>
  </p>
  <p>
    <strong>Project:</strong>
    <%= task.project.name %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= task.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>
</div>
