<!-- Table rows would be generated dynamically -->
<tr class="hover:bg-gray-50">
  <td class="w-4 p-4"><input type="checkbox" class="rounded"></td>
  <td class="px-6 py-4 text-sm text-blue-500"><%= link_to "##{task.id}", [ @organization, task ] %></td>
  <td class="px-6 py-4">
    <div class="font-medium"><%= link_to "#{task.name}", [ @organization, task ] %></div>
  </td>
  <td class="px-6 py-4 text-sm"><%= task.project.name %></td>
  <td class="px-6 py-4 text-sm"><%= task.priority %></td>
  <td class="px-6 py-4 text-sm"><%= task.status %></td>
  <td class="px-6 py-4 text-sm"><%= task.planned_start_date %></td>
  <td class="px-6 py-4 text-sm"><%= task.planned_end_date %></td>
  <td class="px-6 py-4 text-sm"><%= task.assignee.user.full_name %></td>
  <td class="px-6 py-4 text-sm"><%= task.reporter.user.full_name %></td>
  <td class="px-6 py-4">
    <button class="text-gray-500">...</button>
  </td>
</tr>
