<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render @task %>
    <% if policy(@task).destroy? %>
      <%= link_to "Edit this task", [ :edit, @organization, @task ], class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <% end %>
    <%= link_to "Back to tasks", [ @organization, :tasks ], class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <% if policy(@task).destroy? %>
      <div class="inline-block ml-2">
        <%= button_to "Destroy this task", [ @organization, @task ], method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
      </div>
    <% end %>
  </div>
</div>
<%= render partial: 'organizations/comments/form' %>
<% content_for :title, "Comments" %>
<%= render PageComponent.new(title: "Comments") do |component| %>
  <div id="comments" class="space-y-4">
    <% @task.comments.each do |comment| %>
      <div>
        <p>Membership: <%= comment.membership_id %></p>
        <p>Comment: <%= comment.body %></p>
        <p>Created At: <%= comment.created_at %></p>
      </div>
    <% end %>
  </div>
<% end %>
