<div id="<%= dom_id task_timetracking %>">
  <p>
    <strong>Task:</strong>
    <%= task_timetracking.task_id %>
  </p>

  <p>
    <strong>Membership:</strong>
    <%= task_timetracking.membership_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= task_timetracking.date %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= task_timetracking.start %>
  </p>

  <p>
    <strong>End:</strong>
    <%= task_timetracking.end %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= task_timetracking.duration %>
  </p>

</div>
