<%= form_with(model: [@organization, member_worklog], class: "contents space-y-4") do |form| %>
  <%= render "shared/errors", object: form.object %>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date, class: "form-input" %>
  </div>

  <div>
    <%= form.label :worklog_type, "Work Type", style: "display: block" %>
    <%= form.select :worklog_type, 
                  options_for_select([
                    ["Work Day (8h)", MemberWorklog::WORKLOG_TYPES[:work]],
                    ["Vacation Day (8h)", MemberWorklog::WORKLOG_TYPES[:vacation]],
                    ["Sick Day (8h)", MemberWorklog::WORKLOG_TYPES[:sick]]
                  ], member_worklog.worklog_type),
                  { include_blank: "Select a work type" },
                  class: "form-select" %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>