<div id="<%= dom_id member_worklog %>">
  <p>
    <strong>Organization:</strong>
    <%= member_worklog.organization_id %>
  </p>

  <p>
    <strong>Membership:</strong>
    <%= member_worklog.membership_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= member_worklog.date %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= member_worklog.type %>
  </p>

</div>
