<div id="<%= dom_id project %>">
  <p>
      <% if @project %>
        <%= image_tag @project.project_logo if @project.project_logo.attached? %>
      <% else %>
        <p>A projekt nem létezik</p>
      <% end %>
  </p>
  <p>
    <strong>ID:</strong>
    <%= project.id %>
  </p>
  <p>
    <strong>Organization:</strong>
    <%= project.organization_id %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>
  <p>
    <strong>Project manager:</strong>
    <%= project.project_manager.user.full_name %>
</p>
</div>
