<!-- Table rows would be generated dynamically -->
<tr class="hover:bg-gray-50">
  <td class="w-4 p-4"><input type="checkbox" class="rounded"></td>
  <td class="px-6 py-4 text-sm text-blue-500"><%= link_to "##{project.id}", [ @organization, project ] %></td>
  <td class="px-6 py-4">
    <div class="font-medium"><%= link_to "#{project.name}", [ @organization, project ] %></div>
  </td>
  <td class="px-6 py-4 text-sm"><%= project.description %></td>
  <td class="px-6 py-4 text-sm"><%= project.project_manager.user.full_name %></td>
  <td class="px-6 py-4">
    <span class="px-2 py-1 text-sm text-green-600 bg-green-100 rounded-full"><%= project.created_at %></span>
  </td>
  <td class="px-6 py-4">
    <button class="text-gray-500">...</button>
  </td>
</tr>
