<%= render PageComponent.new(title: "Comment") do |component| %>
  <% component.with_action_list do %>
    <%= link_to "Edit", edit_comment_path(@comment), class: "btn btn-secondary" if policy(@comment).edit? %>
    <div class="inline-block">
      <%= button_to "Destroy", @comment, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-danger" if policy(@comment).destroy? %>
    </div>
  <% end %>
<% end %>

<div class="card shadow">
  <div class="card-body">
  
    <b>Membership:</b>
    <%= @comment.membership %>
    <br>
  
    <b>Body:</b>
    <%= @comment.body %>
    <br>
  
  </div>
</div>
