<%= form_with(model: employee_document_type, class: "contents space-y-4") do |form| %>
  <%= render "shared/errors", object: form.object %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "form-input" %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>