<div id="<%= dom_id membership_worklog %>">
  <p>
    <strong>Organization:</strong>
    <%= membership_worklog.organization_id %>
  </p>

  <p>
    <strong>Membership:</strong>
    <%= membership_worklog.membership_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= membership_worklog.date %>
  </p>

  <p>
    <strong>Check in:</strong>
    <%= membership_worklog.check_in %>
  </p>

  <p>
    <strong>Check out:</strong>
    <%= membership_worklog.check_out %>
  </p>

</div>
