<%= form_with(model: [ @organization, @task, @task_timetracking ], class: "contents space-y-4") do |form| %>
  <%= render "shared/errors", object: form.object %>
  <div>
    <%= form.label :task_id, style: "display: block" %>
    <%= form.text_field :task_id, class: "form-input" %>
  </div>
  <div>
    <%= form.label :membership_id, style: "display: block" %>
    <%= form.text_field :membership_id, class: "form-input" %>
  </div>
  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date, class: "form-input" %>
  </div>
  <div>
    <%= form.label :start, style: "display: block" %>
    <%= form.time_field :start, class: "form-input" %>
  </div>
  <div>
    <%= form.label :end, style: "display: block" %>
    <%= form.time_field :end, class: "form-input" %>
  </div>
  <div>
    <%= form.label :duration, style: "display: block" %>
    <%= form.number_field :duration, class: "form-input" %>
  </div>
  <div class="inline">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
