<%= render PageComponent.new(title: "Task timetracking") do |component| %>
  <% component.with_action_list do %>
    <%= link_to "Edit", edit_task_timetracking_path(@task_timetracking), class: "btn btn-secondary" if policy(@task_timetracking).edit? %>
    <div class="inline-block">
      <%= button_to "Destroy", @task_timetracking, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-danger" if policy(@task_timetracking).destroy? %>
    </div>
  <% end %>
<% end %>

<div class="card shadow">
  <div class="card-body">
  
    <b>Task:</b>
    <%= @task_timetracking.task %>
    <br>
  
    <b>Membership:</b>
    <%= @task_timetracking.membership %>
    <br>
  
    <b>Date:</b>
    <%= @task_timetracking.date %>
    <br>
  
    <b>Start:</b>
    <%= @task_timetracking.start %>
    <br>
  
    <b>End:</b>
    <%= @task_timetracking.end %>
    <br>
  
    <b>Duration:</b>
    <%= @task_timetracking.duration %>
    <br>
  
  </div>
</div>
