<%= form_with(model: [ @organization, employee ], class: "contents space-y-4") do |form| %>
  <%= render "shared/errors", object: form.object %>
  <div>
    <%= form.label :membership_id, style: "display: block" %>
    <%= form.select :membership_id, @memberships.map { |c| [c.user.full_name, c.id] }, { prompt: "Válassz membert" }, { class: "form-control" } %>
  </div>
  <div class="inline">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
