<% content_for :title, "Employees" %>
<%= render PageComponent.new(title: "Employees") do |component| %>
  <% component.with_action_list do %>
    <%= link_to "New employee", new_organization_employee_path(@organization), class: "btn btn-primary" %>
  <% end %>
  <div id="employees" class="space-y-4">
    <% @employees.each do |employee| %>
      <%= render employee %>
      <p>
        <%= link_to "Show this employee", [ @organization, employee ], class: "btn btn-secondary" %>
      </p>
    <% end %>
  </div>
<% end %>
<div style="font-size: 2rem;">
  <%= paginate @employees %>
</div>
